<%- include('partials/header') %>

<h1>About Me</h1>
<img src="/images/my_photo.jpeg" alt="Me">
<p>Hi! I'm Cham Ching Lau, a Software Engineering Technician student in Centennial College. I came from Hong Kong.</p>
<a href="/resume.pdf">View My Resume</a>

<h3>My Two Kittens</h3>
<table>
    <tr>
        <td><img src="/images/mochi.jpg" width="200" height="280"></td>
        <td><img src="/images/circle.jpg" width="200" height="280"></td>
    </tr>
    <tr>
        <td>Mochi</td>
        <td>Circle</td>
    </tr>
</table>



<%- include('partials/footer') %>
