<%- include('partials/header') %>

<div class="container">
    <h1>Welcome to My Personal Portfolio</h1>
    <p>
        Welcome to Cham Ching Lau's Homepage!
    </p>

    <p>
        Mission Statement: My mission is to make use of technology in order to make our lives easier :D
    </p>

    <a href="/about" class="btn">Learn More About Meeee</a>
</div>

<%- include('partials/footer') %>
