<%- include('partials/header') %>

<div class="container">
    <h1>My Projects</h1>
    <section>
        <img src="/images/pet.jpeg" alt="Pet Project">
        <p>As you may see in the About Me, I have 2 cats. I hope that the pet owners can choose which pet food is the best easily.</p>
    </section>
    <section>
        <img src="/images/blackjack.jpeg" alt="Blackjack Project">
        <p>I love playing blackjack. I want to share the fun of blackjack to the others.</p>
    </section>
    <section>
        <img src="/images/carpool.png" alt="Carpool">
        <p>We aim to build a carpool apps for the staff and students of Centennial College to let them survive in the winter.</p>
    </section>
</div>

<%- include('partials/footer') %>
