<%- include('partials/header') %>

<h1>Services</h1>
<p>General Programming, Web Development, Mobile Apps...</p>
<img src="/images/programming.png" alt="programming">

<%- include('partials/footer') %>
